<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- 添加依赖声明 -->
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.ui.ide"/>
   </requires>

   <!-- 命令声明 -->
   <extension point="org.eclipse.ui.commands">
      <command
            id="com.filegenerator.commands.generateFiles"
            name="生成文件">
      </command>
   </extension>
   
   <!-- 菜单贡献 -->
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="com.filegenerator.commands.generateFiles"
               label="从文本生成文件"
               style="push">
            <visibleWhen checkEnabled="false">
               <iterate>
                  <adapt type="org.eclipse.core.resources.IProject">
                     <test property="org.eclipse.core.resources.projectNature" 
                           value="org.eclipse.jdt.core.javanature"/>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   
   <!-- 处理器绑定 -->
   <extension point="org.eclipse.ui.handlers">
      <handler
            class="com.filegenerator.ui.GenerateFilesHandler"
            commandId="com.filegenerator.commands.generateFiles">
      </handler>
   </extension>
</plugin>